body{
    width: 100vw;
    height: 100vh;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/public/img/background-img.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: right;
}

canvas{
    border: 1px solid #083221;
}